@import '~common/css/common_const.styl'

.side-nav
    position fixed
    top 0
    height 100%
    width $SideNavBarWidth
    margin-top $TopNavBarHeight
    box-shadow 2px 0 10px #888
    background-color #555