@import '~common/css/common_const.styl'

.top-nav
    position fixed
    top 0
    left 0
    width 100%
    height $TopNavBarHeight
    background-color $WebsiteBasicColor
    box-shadow 0px 2px 5px #888

.logo
    line-height $TopNavBarHeight
    margin-left 20px
    color #FFF
    font-weight bold
